/* Cannot access overlay from JS */
.ant-modal-root {
	.ant-modal-mask {
		background-color: transparent;
	}
	.ant-modal-wrap {
		&::before {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			content: '';
		}

		&.ds-modal-default::before {
			backdrop-filter: blur(var(--ds-blur-default));
			background-color: var(--ds-color-hover-4);
		}

		&.ds-modal-shallow::before {
			backdrop-filter: blur(var(--ds-blur-subtle));
			background-color: var(--ds-color-hover-2);
		}
	}
}
