[data-testid='tooltip'] {
	box-shadow: var(--ds-shadow-lg) !important;
	border: 1px solid var(--ds-color-border-shadow) !important;
	background-color: var(--ds-color-bg-default) !important;
	padding: var(--ds-spacing-xs-2) !important;

	& > div {
		max-height: unset !important;
	}

	& a,
	& button {
		margin: var(--ds-spacing-xs-0) 0 !important;
		border: none !important;
		border-radius: var(--ds-radius-xs) !important;

		&:hover,
		&:focus {
			background-color: var(--ds-color-hover-default) !important;
		}

		&.JS_SELECTED {
			background-color: var(--ds-color-secondary-bg) !important;

			& span {
				color: var(--ds-color-secondary-text-default) !important;
				font-weight: var(--ds-font-weight-md) !important;
			}
		}

		& span {
			color: var(--ds-color-text-default) !important;
			font-weight: var(--ds-font-weight-sm) !important;
			font-size: var(--ds-font-size-sm) !important;
		}
	}

	/* A11y popup */
	&:has(#list-item-grayscale) {
		& button span:nth-child(2) {
			color: var(--ds-color-text-subtle) !important;
			font-size: var(--ds-font-size-xs) !important;
		}

		& button#list-item-reset {
			margin-bottom: var(--ds-spacing-xs-3) !important;

			span {
				color: var(--ds-color-danger) !important;
				font-weight: var(--ds-font-weight-md) !important;
			}
		}
	}
}
