.ds-markdown {
	--margin-xs: var(--ds-spacing-xs-2);
	--margin-sm: var(--ds-spacing-xs-4);
	--margin-md: var(--ds-spacing-xs-6);
	--margin-lg: var(--ds-spacing-xs-8);
	--margin-xl: var(--ds-spacing-sm-0);

	max-width: 100%;

	& pre {
		margin: var(--margin-xs) -1px;

		& > code {
			display: block;
			box-shadow: var(--ds-shadow-xs);
			border: 1px solid var(--ds-color-border-default);
			border-radius: var(--ds-radius-sm);
			background-color: var(--ds-color-bg-coding);
			padding: var(--ds-spacing-xs-5) var(--ds-spacing-xs-6);
			overflow-x: auto;
		}
	}

	& pre + *,
	& * + pre {
		margin-top: var(--margin-xl) !important;
	}

	& *:not(pre) > code {
		margin: 0 1px;
		box-shadow: var(--ds-shadow-xs);
		border-radius: var(--ds-radius-xs);
		background-color: var(--ds-color-bg-coding);
		padding: 1px var(--ds-spacing-xs-2);
		color: var(--ds-color-text-coding);
		font-weight: var(--ds-font-weight-md);
		font-size: var(--ds-font-size-sm);

		&:first-child {
			margin-left: -1px;
		}
	}

	& ul,
	& ol {
		display: flex;
		flex-direction: column;
		gap: var(--ds-spacing-xs-1);
		counter-reset: --counter;
		margin: var(--margin-xs) 0 var(--ds-spacing-xs-1);
		padding-left: var(--ds-spacing-sm-1);

		& p {
			margin: 0;
		}
	}
	& ul > li {
		position: relative;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			transform: translateX(-100%);
			padding: var(--ds-spacing-xs-4);
			content: '•';
			font-size: var(--ds-font-size-xl);
			line-height: 0;
		}
	}
	& ol > li {
		position: relative;
		counter-increment: --counter;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			transform: translateX(-100%);
			padding-right: var(--ds-spacing-xs-3);
			content: counter(--counter) '.';
			text-align: right;
		}
	}
	& ul:only-child {
		padding-left: var(--ds-spacing-xs-9);
	}
	& ul + *,
	& ol + * {
		margin-top: var(--margin-xl) !important;
	}

	& p:not(:first-child) {
		margin-top: var(--margin-sm);
	}

	& hr {
		margin: var(--margin-xl) 0;
		border-color: var(--ds-color-border-subtle);
	}

	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		margin: var(--margin-sm) 0 var(--ds-spacing-xs-1);
		font-weight: var(--ds-font-weight-lg);
		font-size: var(--ds-font-size-lg);

		&:first-child {
			margin-top: 0;
		}
	}
	& h1 {
		margin-top: var(--margin-xl);
		font-size: var(--ds-font-size-xxl);
	}
	& h2 {
		margin-top: var(--margin-lg);
		font-size: var(--ds-font-size-xl);
	}
	& h3 {
		margin-top: var(--margin-md);
	}

	& strong {
		font-weight: var(--ds-font-weight-xl);
	}

	& a {
		word-break: break-word;

		&:first-child {
			margin-left: -2px;
		}
	}

	& blockquote {
		margin: var(--margin-md) 0;
		border-left: 2px solid var(--ds-color-text-subtle);
		background-color: var(--ds-color-bg-blockquote);
		padding: var(--ds-spacing-xs-3);
		padding-left: var(--ds-spacing-xs-7);

		&:last-child {
			margin-bottom: 0;
		}

		&:only-child {
			margin: 0;
		}
	}

	& .ds-markdown-img-box {
		margin: var(--margin-lg) 0;

		&:first-child {
			margin-top: 0;
		}

		& img {
			border-radius: var(--ds-radius-xs);
			max-width: 100%;
			max-height: vaR(--ds-spacing-xl-0);
		}
		& img + div {
			padding: 0 var(--ds-spacing-xs-1);
			color: var(--ds-color-text-subtle);
			font-style: italic;
			font-weight: var(--ds-font-weight-sm);
			font-size: var(--ds-font-size-xs);
		}
	}

	& > *:not(pre):not(blockquote):only-child {
		margin: calc(-1 * var(--ds-spacing-xs-1)) 0;
	}
}
