@import '../tailwind';

@import '../tokens/index.css';

@import '_a11y.css';
@import '_scrollbar.css';

:root {
	background-color: var(--ds-color-bg-default);
	color: var(--ds-color-text-default);
}

a {
	color: var(--ds-color-primary);
}

hr {
	border-color: var(--ds-color-border-subtle);
}
