@import '../tailwind';

@import '../tokens';

@import '_a11y.css';
@import '_link.css';
@import '_markdown.css';
@import '_scrollbar.css';
@import '_svg.css';

:root {
	background-color: var(--ds-color-bg-page);
	color: var(--ds-color-text-default);
}

hr {
	border-color: var(--ds-color-border-subtle);
	width: 100%;
}
