@import '../tailwind';

@import '../tokens/color.css';
@import '../tokens/font-size.css';
@import '../tokens/font-weight.css';
@import '../tokens/line-height.css';
@import '../tokens/radius.css';
@import '../tokens/shadow.css';
@import '../tokens/spacing.css';
@import '../tokens/z-index.css';

@import 'a11y.css';

:root {
	background-color: var(--ds-color-background);
	color: var(--ds-color-text);
}

a {
	color: var(--ds-color-primary);
}
