@import '@ds/release/styling/index.css';

#storybook-root {
	padding: 0 !important;
}

table.docs {
	width: 100%;

	tbody tr {
		border-top: 1px solid var(--ds-color-border-default);
	}

	th,
	td {
		vertical-align: middle;
		padding: var(--ds-spacing-xs-4) var(--ds-spacing-xs-9);
		text-align: left;

		&:first-child {
			padding-left: var(--ds-spacing-xs-4);
		}
		&:last-child {
			padding-right: var(--ds-spacing-xs-4);
		}

		pre {
			margin: 0;
		}
	}

	th {
		padding-bottom: var(--ds-spacing-xs-6);
		font-weight: bold;
		font-size: var(--ds-font-size-md);
	}
}

ul.docs,
ol.docs {
	display: flex;
	flex-direction: column;
	gap: calc(var(--ds-font-size-md) / 8);
	margin: calc(var(--ds-font-size-md) / 8) 0 calc(var(--ds-font-size-md) / 4);
	padding-left: var(--ds-spacing-sm-1);
}
ul.docs {
	list-style: disc;
}
ol.docs {
	list-style: auto;
}

.docs code,
code.docs {
	border-radius: var(--ds-radius-xs);
	background-color: var(--ds-color-bg-preview);
	padding: 3px 6px;
	width: fit-content;
	color: var(--ds-color-text-preview);
	font-size: var(--ds-font-size-sm);
	white-space: nowrap;
}

pre.docs {
	& code {
		display: block;
		padding: var(--ds-spacing-xs-2);
		width: 100%;
		white-space: unset;
	}
}

.docs-grid-bg {
	background-image: linear-gradient(#eee 1px, transparent 1px), linear-gradient(90deg, #eee 1px, transparent 1px);
	background-size: 8px 8px;
	background-color: var(--ds-color-bg-default);
}

/**
 * Dark theme
 */
[data-color-theme='dark'] {
	.docs-grid-bg {
		background-image: linear-gradient(#333 1px, transparent 1px), linear-gradient(90deg, #333 1px, transparent 1px);
	}
}
