/* Breakpoint tokens */

:host,
:root {
	--ds-breakpoint-xs: 320;
	--ds-breakpoint-sm: 640;
	--ds-breakpoint-md: 768;
	--ds-breakpoint-lg: 1024;
	--ds-breakpoint-xl: 1440;
	--ds-breakpoint-xxl: 1920;
}
