/* Breakpoint tokens */

:host,
:root {
	--ds-breakpoint-xs: 420px;
	--ds-breakpoint-sm: 640px;
	--ds-breakpoint-md: 768px;
	--ds-breakpoint-lg: 1024px;
	--ds-breakpoint-xl: 1440px;
	--ds-breakpoint-xxl: 1920px;
}
