/* Radius tokens */

:host,
:root {
	--ds-radius-xs: 4px;
	--ds-radius-sm: 6px;
	--ds-radius-md: 8px;
	--ds-radius-lg: 12px;
	--ds-radius-xl: 16px;
	--ds-radius-max: 999px;
	--ds-radius-full: 100%;
}
