/* Shadow tokens */

:host,
:root {
	--ds-shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.1);
	--ds-shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.15);
	--ds-shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.15), 0 1px 2px -1px rgb(0 0 0 / 0.15);
	--ds-shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.15), 0 2px 4px -2px rgb(0 0 0 / 0.15);
	--ds-shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.15), 0 4px 6px -4px rgb(0 0 0 / 0.15);
	--ds-shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.15), 0 8px 10px -6px rgb(0 0 0 / 0.15);
	--ds-shadow-below-sm: 0 6px 6px -6px rgb(0 0 0 / 0.15);
	--ds-shadow-below-md: 0 10px 10px -10px rgb(0 0 0 / 0.15);
	--ds-shadow-below-lg: 0 14px 14px -14px rgb(0 0 0 / 0.15);
}

[data-color-theme='dark'] {
	--ds-shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.2);
	--ds-shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.4);
	--ds-shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.4), 0 1px 2px -1px rgb(0 0 0 / 0.4);
	--ds-shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.4), 0 2px 4px -2px rgb(0 0 0 / 0.4);
	--ds-shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.4), 0 4px 6px -4px rgb(0 0 0 / 0.4);
	--ds-shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.4), 0 8px 10px -6px rgb(0 0 0 / 0.4);
	--ds-shadow-below-sm: 0 6px 6px -6px rgb(0 0 0 / 0.6);
	--ds-shadow-below-md: 0 10px 10px -10px rgb(0 0 0 / 0.6);
	--ds-shadow-below-lg: 0 14px 14px -14px rgb(0 0 0 / 0.6);
}
