/* Spacing tokens */

:host,
:root {
	/* Increment by 2px */
	--ds-spacing-xs-0: 2px;
	--ds-spacing-xs-1: 4px;
	--ds-spacing-xs-2: 6px;
	--ds-spacing-xs-3: 8px;
	--ds-spacing-xs-4: 10px;
	--ds-spacing-xs-5: 12px;
	--ds-spacing-xs-6: 14px;
	--ds-spacing-xs-7: 16px;
	--ds-spacing-xs-8: 18px;
	--ds-spacing-xs-9: 20px;

	/* Increment by 4px */
	--ds-spacing-sm-0: 24px;
	--ds-spacing-sm-1: 28px;
	--ds-spacing-sm-2: 32px;
	--ds-spacing-sm-3: 36px;
	--ds-spacing-sm-4: 40px;
	--ds-spacing-sm-5: 44px;
	--ds-spacing-sm-6: 48px;
	--ds-spacing-sm-7: 52px;
	--ds-spacing-sm-8: 56px;
	--ds-spacing-sm-9: 60px;

	/* Increment by 8px */
	--ds-spacing-md-0: 64px;
	--ds-spacing-md-1: 72px;
	--ds-spacing-md-2: 80px;
	--ds-spacing-md-3: 88px;
	--ds-spacing-md-4: 96px;
	--ds-spacing-md-5: 104px;
	--ds-spacing-md-6: 112px;
	--ds-spacing-md-7: 120px;
	--ds-spacing-md-8: 128px;
	--ds-spacing-md-9: 136px;

	/* Increment by 20px */
	--ds-spacing-lg-0: 140px;
	--ds-spacing-lg-1: 160px;
	--ds-spacing-lg-2: 180px;
	--ds-spacing-lg-3: 200px;
	--ds-spacing-lg-4: 220px;
	--ds-spacing-lg-5: 240px;
	--ds-spacing-lg-6: 260px;
	--ds-spacing-lg-7: 280px;
	--ds-spacing-lg-8: 300px;
	--ds-spacing-lg-9: 320px;

	/* Increment by 40px */
	--ds-spacing-xl-0: 360px;
	--ds-spacing-xl-1: 400px;
	--ds-spacing-xl-2: 440px;
	--ds-spacing-xl-3: 480px;
	--ds-spacing-xl-4: 520px;
	--ds-spacing-xl-5: 560px;
	--ds-spacing-xl-6: 600px;
	--ds-spacing-xl-7: 640px;
	--ds-spacing-xl-8: 680px;
	--ds-spacing-xl-9: 720px;

	/* Increment by 80px */
	--ds-spacing-xxl-0: 800px;
	--ds-spacing-xxl-1: 880px;
	--ds-spacing-xxl-2: 960px;
	--ds-spacing-xxl-3: 1040px;
	--ds-spacing-xxl-4: 1120px;
	--ds-spacing-xxl-5: 1200px;
	--ds-spacing-xxl-6: 1280px;
	--ds-spacing-xxl-7: 1360px;
	--ds-spacing-xxl-8: 1440px;
	--ds-spacing-xxl-9: 1520px;
}

:host,
:root {
	--ds-spacing-button-h-xs: var(--ds-spacing-sm-0);
	--ds-spacing-button-h-sm: var(--ds-spacing-sm-2);
	--ds-spacing-button-h-md: var(--ds-spacing-sm-4);
	--ds-spacing-button-h-lg: var(--ds-spacing-sm-6);

	--ds-spacing-link-px-xs: var(--ds-spacing-xs-2);

	--ds-spacing-button-px-xs: var(--ds-spacing-xs-4);
	--ds-spacing-button-px-sm: var(--ds-spacing-xs-6);
	--ds-spacing-button-px-md: var(--ds-spacing-xs-8);
	--ds-spacing-button-px-lg: var(--ds-spacing-sm-0);
	--ds-spacing-button-px-item: var(--ds-spacing-xs-5);

	--ds-spacing-field-h-sm: var(--ds-spacing-sm-2);
	--ds-spacing-field-h-md: var(--ds-spacing-sm-4);
	--ds-spacing-field-h-lg: var(--ds-spacing-sm-6);
	--ds-spacing-field-h-xl: var(--ds-spacing-sm-8);

	--ds-spacing-scrollbar-w: var(--ds-spacing-xs-4);
	--ds-spacing-scrollbar-h: var(--ds-spacing-xs-2);

	--ds-spacing-a11y-outline: var(--ds-spacing-xs-0);
	--ds-spacing-a11y-padding: var(--ds-spacing-xs-1);
	--ds-spacing-a11y-scrollbar: var(--ds-spacing-xs-6);

	--ds-spacing-modal-xs: var(--ds-spacing-xl-0);
	--ds-spacing-modal-sm: var(--ds-spacing-xl-4);
	--ds-spacing-modal-md: var(--ds-spacing-xl-9);
	--ds-spacing-modal-lg: var(--ds-spacing-xxl-2);
	--ds-spacing-modal-xl: var(--ds-spacing-xxl-5);
}
