:host,
:root {
	--ds-color-white: #fff;

	--ds-color-grey-1: #f4f4f5;
	--ds-color-grey-2: #e4e4e7;
	--ds-color-grey-3: #d4d4d8;
	--ds-color-grey-4: #a1a1aa;
	--ds-color-grey-5: #71717a;
	--ds-color-grey-6: #52525b;
	--ds-color-grey-7: #3f3f46;
	--ds-color-grey-8: #27272a;
	--ds-color-grey-9: #18181b;

	--ds-color-purple-1: #e9d5ff;
	--ds-color-purple-2: #c084fc;
	--ds-color-purple-3: #9333ea;
	--ds-color-purple-4: #6b21a8;

	--ds-color-blue-1: #bae6fd;
	--ds-color-blue-2: #38bdf8;
	--ds-color-blue-3: #0284c7;
	--ds-color-blue-4: #075985;

	--ds-color-green-1: #dcfce7;
	--ds-color-green-2: #86efac;
	--ds-color-green-3: #16a34a;
	--ds-color-green-4: #166534;

	--ds-color-orange-1: #ffedd5;
	--ds-color-orange-2: #fdba74;
	--ds-color-orange-3: #ea580c;
	--ds-color-orange-4: #9a3412;
}

:host,
:root {
	--ds-color-background: var(--ds-color-white);
	--ds-color-navbar: var(--ds-color-white);
	--ds-color-primary: var(--ds-color-purple-3);
	--ds-color-secondary: var(--ds-color-blue-3);
	--ds-color-text: var(--ds-color-grey-9);
	--ds-color-text-inverse: var(--ds-color-white);
}

[data-theme='dark'] {
	--ds-color-background: var(--ds-color-grey-9);
	--ds-color-navbar: var(--ds-color-grey-9);
	--ds-color-primary: var(--ds-color-purple-2);
	--ds-color-secondary: var(--ds-color-blue-2);
	--ds-color-text: var(--ds-color-white);
	--ds-color-text-inverse: var(--ds-color-grey-9);
}
