:host,
:root {
	--ds-color-white: #fff;

	--ds-color-grey-1: #f3f4f6;
	--ds-color-grey-2: #e5e7eb;
	--ds-color-grey-3: #d1d5db;
	--ds-color-grey-4: #9ca3af;
	--ds-color-grey-5: #6b7280;
	--ds-color-grey-6: #4b5563;
	--ds-color-grey-7: #374151;
	--ds-color-grey-8: #1f2937;
	--ds-color-grey-9: #111827;

	--ds-color-purple-1: #e9d5ff;
	--ds-color-purple-2: #c084fc;
	--ds-color-purple-3: #9333ea;
	--ds-color-purple-4: #6b21a8;

	--ds-color-blue-1: #bae6fd;
	--ds-color-blue-2: #38bdf8;
	--ds-color-blue-3: #0284c7;
	--ds-color-blue-4: #075985;

	--ds-color-green-1: #dcfce7;
	--ds-color-green-2: #86efac;
	--ds-color-green-3: #16a34a;
	--ds-color-green-4: #166534;

	--ds-color-orange-1: #ffedd5;
	--ds-color-orange-2: #fdba74;
	--ds-color-orange-3: #ea580c;
	--ds-color-orange-4: #9a3412;
}

:host,
:root {
	--ds-color-background: var(--ds-color-white);
	--ds-color-navbar: var(--ds-color-white);
	--ds-color-primary: var(--ds-color-purple-3);
	--ds-color-secondary: var(--ds-color-blue-3);
	--ds-color-text: var(--ds-color-grey-9);
}
